@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GtSuper';
  font-style: normal;
  font-weight: 500;
  src: local('/fonts/GT-Super/GT-Super-Text-Medium-Trial.otf'),
    url('/fonts/GT-Super/GT-Super-Text-Medium-Trial.otf')
      format('otf');
}

body {
  /* background: linear-gradient(
    to right,
    rgb(17, 24, 39, 0.5),
    rgb(17, 24, 39, 0.3),
    rgb(17, 24, 39, 0.2),
    rgb(0, 0, 0, 0.1)
  ); */
}
